<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1 darkblue">
		</div>
		<div class="col-sm-11 white">
			Hi <img src="../assets/mail.png" class="mail"> 
		</div>
	</div>
	<div class="row">
		<div class="col-sm-1 darkblue">
		</div>
		<div class="col-sm-11 lightblue">
			Cases
			<div class="col-sm-4 white">
				Completed cases over the past 7 years
			</div>
			<hr/>
			<div class="col-sm-11">
				<div class="row">
					<div class="col-sm-1 purple_box">
						Benefits<br/>Verification	
					</div>
					<div class="col-sm-1 lightpurple_box">
						{{bvCount}}
					</div>
					<div class="col-sm-1 purple_box">
						Prior<br/>Authorization	
					</div>
					<div class="col-sm-1 lightpurple_box">
						{{paCount}}
					</div>
					<div class="col-sm-1 purple_box">
						Prescription<br/>Referral	
					</div>
					<div class="col-sm-1 lightpurple_box">
						{{prCount}}
					</div>
					<div class="col-sm-1 purple_box">
						PAP	
					</div>
					<div class="col-sm-1 lightpurple_box">
						{{papCount}}
					</div>
					<div class="col-sm-1 purple_box">
						CoPay
					</div>
					<div class="col-sm-1 lightpurple_box">
						{{coPayCount}}
					</div>
				</div>
			</div>
			<br/>
			<accord></accord>
			<hr/>
			<div class="col-sm-12">
				<div class="row white font13">
				Service Types:
				<div class="col-sm-1"><span Class="green_shade"></span></div>
				Benefits Verification
				<div class="col-sm-1"><span Class="orange_shade"></span></div>
				Prior Authorization
				<div class="col-sm-1"><span Class="darkblue_shade"></span></div>
				CoPay
				<div class="col-sm-1"><span Class="blue_shade"></span></div>
				PAP
				<div class="col-sm-1"><span Class="black_shade"></span></div>
				Prescription Referral
				</div>
			</div>		
			<hr/>
			<div class="col-sm-8 white font13">
			<div class="row">
				Status Key:
				<div class="col-sm-1"><span Class="green_shade"></span></div>
				Completed
				<div class="col-sm-1"><span Class="blue_shade"></span></div>
				In Progress
				<div class="col-sm-1"><span Class="red_shade"></span></div>
				Action Needed
			</div>
			</div>
			<hr/>
			<ul class="col-sm-12">
  				<li *ngFor="let item of apiResponse | paginate: { itemsPerPage: 5, currentPage: p }">
					<item-detail [itemDetails]="item"></item-detail>
  				</li>
			</ul>
			<pagination-controls (pageChange)="p = $event"></pagination-controls>
		</div>
	</div>
</div>
